@import-normalize;

:root {

  --family: "Open Sans", sans-serif;
  --fs-xs: 12px;
  --fs-s: 14px;
  --fs-m: 16px;
  --fs-l: 18px;
  --fs-xl: 32px;
  --fw-normal: 400;
  --fw-bold: 700;
  --lh-normal: 1.4;
  --radius: 5px;
  --bg-item: url("./img/bg_img.png");

  --black: #212353;
  --grey: #828282;
  --white: #ffffff;
  --blue: #0000ff;
}
html,
body {
  margin: 0;
  text-align: left;
  font-family: var(--family);
  font-weight: var(--fw-normal);
  font-size: var(--fs-s);
  line-height: var(--lh-normal);
  color: var(--grey);
  height: 100%;
  width: 100%;
}